/*import font from fonts.css*/
@import url(./fonts.css);
@import url(./variables.css);
@import url(./global.css);

.header .main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*start navigation*/

.header .main-menu .navbar .navbar-brand {
  padding: 0.2rem 0.5 rem;
}

.header .main-menu .navbar {
  padding: 1rem 10rem;
}

.header .main-menu .nav-item .nav-link {
  font-family: var(--roboto);
  line-height: 2px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.7rem;
  color: var(--title-color);
}

.header .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/*end navigation*/

/*banner area*/

.site-main .site-banner {
  display: flex;
  position: relative;
  padding: 2rem 0;
  margin: 0;
}

.site-main .site-banner .row {
  display: flex;
}

.site-main .site-banner .row .site-title {
  padding: 15% 5%;
  margin: 0;
}

.site-main .site-banner .row .banner-img {
  padding: 0;
  margin: 0;
}

.site-main .site-banner .site-title h3 {
  padding: 0;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 1.5px;
  width: 30vw;
  background: var(--gradient-color);
  display: inline-block;
  margin-left: 2%;
  transform: translateY(-9px);
}

.site-main .site-banner .site-title h1 {
  font-size: 4rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-img > img {
  /*padding: 7rem 0;*/
  width: 30rem;
  height: 30rem;
}

.button {
  margin: 2rem;
}
/*end banner area*/

/*start about area*/

.site-main .about-area {
  padding: 2rem 1rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font-size: 45px;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 20px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 1rem 0;
}

/*end about area*/
